<%= javascript_include_tag javascript_path 'mapselect' %>
<h2>プロフィール編集画面</h2>

<%= form_for @member do |f| %>
<div class="span3">
  <%= f.label :image %>
  <%= image_tag @member.image.url if @member.image? %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
</div>
<div class="span8">
  <div class="control-group">
    <label for="member_name">Name:</label>
    <div class="controls">
      <%= f.text_field :name %>
      ex: Tobita Tetsuo
    </div>
  </div>
  <div class="control-group">
    <label for="member_city">City:</label>
    <div class="controls">
      <%= f.text_field :city %>
      ex: Sanfrancisco
    </div>
  </div>
  <div class="control-group">
    <label for="member_term">Term:</label>
    <div class="controls">
      <%= f.text_field :term %>
      ex: 14/09/01-15/08/31
    </div>
  </div>
  <div class="control-group">
    <label for="member_keyword">Keyword:</label>
    <div class="controls">
      <span class="text">key word</span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_link">Link:</label>
    <div class="controls">
      <%= f.text_field :link, inline_label: 'Yes, remember me' %>
      （トビタテ情報システムの自己紹介リンク）
    </div>
  </div>
  <div class="control-group">
    <label for="member_facebook">Facebook:</label>
    <div class="controls">
      <%= f.text_field :facebook %>
    </div>
  </div>
  <div class="control-group">
    <label for="member_twitter">Twitter:</label>
    <div class="controls">
      <%= f.text_field :twitter %>
    </div>
  </div>
  <div class="control-group">
    <label for="member_profile">Profile:</label>
    <div class="controls">
      <%= f.text_area :profile %><br />
      <font id="character">140文字以内（あと<span id="remain">140</span>文字）</font>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
    </div>
  </div>
  <div id="submit">
    <%= f.button :submit %>
  </div>
</div>
<% end %>

<div class="control-group span11">
  <label for="member_profile">留学先:</label>
  <div class="controls">
    <div class="study_location">
      <span class="text">自分の住む地域を中心に持ってきて下さい（地図ドラッグorテキスト検索で緯度経度取得）</span>
      <div id="search_box" style="margin-top:0.5em; margin-bottom:0.5em;"></div>
      <div id="map_canvas" style="width:100%; background-color:white; margin-top:0.5em; margin-bottom:0.5em;"> Google Maps API is not available. </div>
      <!--<table border="1" style="margin-top:0.5em; margin-bottom:0.5em; border-collapse:separate; border-spacing:0px;">
        <tr>
          <td class="center">緯度</td>
          <td class="right" style="width:6em;"><span id="indicator_lat">36.0</span></td>
          <td class="center">経度</td>
          <td class="right"><span id="indicator_lng">136.5</span></td>
        </tr>
      </table>-->
    </div>
  </div>
</div>
