<h2>プロフィール画面</h2>
  <div class="control-group">
    <label for="member_name">Name:</label>
    <div class="controls">
      <span class="text"><%= @member.name %></span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_city">City:</label>
    <div class="controls">
      <span class="text"><%= @member.city %></span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_term">Term:</label>
    <div class="controls">
      <span class="text"><%= @member.term %></span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_keyword">Keyword:</label>
    <div class="controls">
      <span class="text">key word</span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_link">Link:</label>
    <div class="controls">
      <span class="text"><%= @member.link %></span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_facebook">Facebook:</label>
    <div class="controls">
      <span class="text"><%= @member.facebook %></span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_twitter">Twitter:</label>
    <div class="controls">
      <span class="text"><%= @member.twitter %></span>
    </div>
  </div>
  <div class="control-group">
    <label for="member_profile">Profile:</label>
    <div class="controls">
      <span class="text"><%= @member.profile %></span><br />
    </div>
  </div>
  <div class="control-group">
    <label for="member_profile">留学先:</label>
    <div class="controls">
      <span class="text"><%= @member.latitude %></span>
      <span class="text"><%= @member.longitude %></span>
    </div>
  </div>
